<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="pythonnet_py37_win" version="2.5.1" targetFramework="net45" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
</packages>