<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BH.UI.Python.Included" version="3.7.3.8-alpha" targetFramework="net462" />
  <package id="BH.UI.Python.Runtime" version="3.7.4-alpha" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net462" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net462" />
</packages>